name: UI Automation Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  ui-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Set up Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Run UI Tests
        run: mvn clean test -Dheadless=true

      - name: Upload Allure Results
        uses: actions/upload-artifact@v4
        if: always()
        with:
            name: allure-results
            path: target/allure-results